
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }


.t{
      
text-align: center;
}

h1{
text-transform: uppercase;
font-family: 'SEGA LOGO FONT';
color: rgb(27, 175, 155);

}

body{
    background: linear-gradient(to left,rgba(2,37,82,1)10%,rgba(0,128,128,1) 100% )
}
